<div class="container">
  <div class="row">
    <div class='col-md-3'></div>
    <div class="col-md-6">
      <div class="login-box well">
        <form [formGroup]="loginForm" (ngSubmit)="logar()">
          <legend>Login</legend>
          <div class="form-group">
            <label for="username-email">E-mail</label>
            <input value='' id="email" placeholder="E-mail" type="text" class="form-control" formControlName="email"
              #email [ngClass]="{danger: !verifyForm}" />
            <div class="invalid-message"
              *ngIf="loginForm['controls']['email'].errors && (loginForm['controls']['email'].dirty || loginForm['controls']['email'].touched)">
              <span>E-mail inválido.</span>
            </div>
            <div class="invalid-message">
              <span *ngIf="mensagem != ''">{{ mensagem }}</span>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" value='' placeholder="Password" type="password" class="form-control"
              formControlName="password" #password [ngClass]="{danger: !verifyForm}" />
          </div>
          <div class="">
            <button class="submit" class="btn btn-primary btn-default" type="submit">Login</button>
          </div>
          <span class='text-center'><a href="http://localhost:4200/forgot" class="text-sm">Esqueceu a senha?</a></span>
          <div class="form-group">
            <p class="text-center m-t-xs text-sm">Não possui conta ainda?</p>
            <a href="http://localhost:4200/register" class="btn btn-create-account btn-default">Criar conta</a>
          </div>
        </form>
      </div>
    </div>
    <div class='col-md-3'></div>
  </div>
</div>
